<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/tododetails.css}">
  <!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>todo詳細</title>
</head>
<body class="bg-light">
<div class="text-center">
	<h3><b>TodoDetail</b></h3>
	<form method="post" th:action="@{/detail}" class="tododetail" th:object="${todoForm}">
		<input type="hidden" th:field="*{id}">
		<div class="form-group">
			<label for="title">タイトル</label>
			<input type="text" class="form-control" th:field="*{title}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{title}"></div>
		</div>
		<div class="form-group">
			<label for="timeLimit">期日</label>
			<input type="date" class="form-control" th:field="*{timeLimit}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{timeLimit}"></div>
		</div>
		<div class="form-group">
		    <input type="checkbox" name="isDone" id="isDone" class="form-check-input" th:field="*{isDone}">
			<label for="isDone" class="form-check-label">完了フラグ</label>
		</div>
		<button type="submit" class="btn btn-primary">更新</button>
	</form>
</div>
</body>
</html>