<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.TodoMapper">
	
	<select id="getCompleteList" resultType="com.example.domain.user.model.MTodo">
		select *
		from todo_details
		where is_done = true
	</select>
	
	<select id="getIncompleteList" resultType="com.example.domain.user.model.MTodo">
		select *
		from todo_details
		where is_done = false
	</select>
	
	<insert id="insertOneTodo">
		insert into todo_details(title, is_done, time_limit)
		values(#{title}, #{isDone}, #{timeLimit})
	</insert>
	
	<update id="updateOneTodo">
		update todo_details
		set title = #{title}, is_done = #{isDone}, time_limit = #{timeLimit}
		where id = #{id}
	</update>
	
	<select id="getOneTodo" resultType="com.example.domain.user.model.MTodo">
		select *
		from todo_details
		where id = #{id}
	</select>
	
</mapper>